@use "@/styles/mixins";

$width: var(--width);
$height: var(--height);
$bg-color: var(--bg-color);
$bg-secondary-color: var(--bg-secondary-color);
$text-color: var(--text-color);

.root {
    width: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 12px;
    border: 2.75px solid transparent;
    gap: 12px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    @include mixins.transition;
    padding: 0.5rem 1.375rem;
    white-space: nowrap;
    font-size: 1.125rem;
    line-height: 1.75rem;

    cursor: pointer;

    &[data-variant="solid"] {
        background-color: $bg-color;
    }

    &[data-variant="outlined"] {
        background-color: transparent;
        border-color: $bg-color;
    }

    &[data-variant="ghost"] {
        background-color: transparent;
        color: $bg-color;
    }

    &:disabled,
    [data-loading="true"],
    [data-disabled="true"] {
        cursor: not-allowed;
        opacity: 0.75;
    }

    &:not(:disabled, [data-loading="true"], [data-disabled="true"]) {
        &:hover {
            filter: brightness(1.2);
        }

        &:active {
            box-shadow: 0 0 0 transparent;
            transform: translateY(4px);
        }

        &:focus {
            outline: none;
            filter: brightness(1.2);
        }
    }

    .content {
        color: $text-color;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 21.6px;
        letter-spacing: 0.8px;
    }

    .icon {
        color: $text-color;
    }
}
