@use "@/styles/mixins";

.root {
    width: auto;
    height: var(--button-height);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: var(--button-radius);
    border: 2.75px solid transparent;
    box-shadow: var(--button-shadow);
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1.375rem;
    white-space: nowrap;
    font-size: 1.125rem;
    line-height: 1.75rem;
    overflow: hidden;

    cursor: pointer;

    &[data-variant="solid"] {
        background-color: var(--button-bg-color);
    }

    &[data-variant="outlined"] {
        background-color: transparent;
        border-color: var(--button-bg-color);
    }

    &[data-variant="ghost"] {
        background-color: transparent;
        box-shadow: none;
        color: var(--button-bg-color);
    }

    &:disabled,
    [data-loading="true"],
    [data-disabled="true"] {
        cursor: not-allowed;
        opacity: 0.75;
    }

    &:not(:disabled, [data-loading="true"], [data-disabled="true"]) {
        &:hover {
            filter: brightness(1.2);
        }

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }

        &:focus {
            outline: none;
            filter: brightness(1.2);
        }
    }
}

.content {
    color: light-dark(var(--button-text-color), #ffffff);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.8px;
}

.icon {
    color: light-dark(var(--button-text-color), #ffffff);
}
