@use "@/styles/mixins";

.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 4rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e5e5e5;
    align-items: center;
    justify-content: space-between;

    @include mixins.dark {
        border-color: #37464f;
    }

    .logo {
        width: 50%;
    }

    .links {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        gap: 0.75rem;
    }

    .features {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 0.75rem;
    }
}
