$width: var(--width);
$border-color: var(--border-color);

.root {
    width: $width;

    textarea {
        flex: 1;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        caret-color: $border-color;
        font-size: 16px;
        line-height: 1.5;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &[data-variant="solid"] {
        .icon {
            color: #ffffff;
        }

        textarea {
            color: #ffffff;
            caret-color: #ffffff;

            &::placeholder {
                color: #ffffff7d;
            }
        }
    }

    &[data-variant="outlined"] {
        .icon {
            color: $border-color;
        }
    }

    &:focus,
    &:hover {
        filter: brightness(1.125);
    }

    &:focus-within {
        .clear-button {
            opacity: 0.5;
        }

        .toggle-button {
            opacity: 0.5;
        }
    }
}
