$bg-color: var(--bg-color);
$border-color: var(--border-color);
$text-color: var(--text-color);

.root {
    width: fit-content;
    border-radius: 9999px;
    background-color: $bg-color;
    border: 2px solid $border-color;

    padding: 1px 8px;
}

.content {
    color: $text-color;
    user-select: none;
}
