@use "@/styles/mixins";

.root {
    width: 16rem;
    height: 9rem;
    position: relative;
    border-radius: 12px;
    background-color: color-mix(
        in srgb,
        var(--color-primary) 25%,
        transparent 75%
    );
    border: 2.75px dotted
        color-mix(in srgb, var(--color-primary) 25%, transparent 75%);
    padding: 10px;
    transition: all 200ms ease-in-out;

    box-shadow: var(--shadow-md);

    &:active {
        box-shadow: none;
        transform: translateY(4px);
    }

    &:hover {
        filter: brightness(1.2);
        cursor: pointer;

        .icon {
            animation: pop 400ms ease-in-out forwards;
        }

        @keyframes pop {
            0% {
                transform: translateY(-50%) scale(1);
            }
            50% {
                transform: translateY(-50%) scale(1.075);
            }
            100% {
                transform: translateY(-50%) scale(1);
            }
        }
    }

    &[data-solved="true"] {
        background-color: color-mix(
            in srgb,
            var(--challenge-card-solved-bg-color) 75%,
            transparent 25%
        );

        border: 2.75px dotted
            color-mix(
                in srgb,
                var(--challenge-card-solved-bg-color) 75%,
                transparent 25%
            );
    }
}

.trapezoid {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 75px;
    height: 75px;
    background-color: var(--challenge-card-solved-trapezoid-color);
    clip-path: polygon(100% 100%, 100% 50%, 50% 0, 0% 0);
}

.star {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 1.25rem;
    height: 1.25rem;
}

.category {
    position: absolute;
    top: 12.5%;
    left: 20px;

    font-size: 0.75rem;
    font-weight: bold;
    user-select: none;
}

.id {
    position: absolute;
    bottom: 10%;
    right: 20px;

    font-size: 0.75rem;
    font-weight: bold;
    user-select: none;

    color: light-dark(var(--challenge-card-text-color), #ffffff);

    [data-solved="true"] & {
        color: light-dark(var(--challenge-card-solved-text-color), #ffffff);
    }
}

.icon {
    position: absolute;
    width: 7rem;
    height: 7rem;

    color: light-dark(var(--challenge-card-icon-color), #ffffff66);
    opacity: 0.5;
    transition: all 200ms ease-in-out;

    top: 50%;
    right: 10px;

    transform: translateY(-50%) translateX(0);

    [data-solved="true"] & {
        color: light-dark(var(--challenge-card-solved-icon-color), #ffffff66);
    }
}

.title {
    position: absolute;
    top: 37.5%;
    left: 7%;

    font-size: 1.175rem;
    font-weight: bold;

    width: 85%;

    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    color: light-dark(var(--challenge-card-text-color), #ffffffbd);
    transition: all 200ms ease-in-out;

    user-select: none;

    [data-solved="true"] & {
        color: light-dark(var(--challenge-card-solved-text-color), #ffffffbd);
    }
}

.divider {
    position: absolute;
    top: 65%;

    height: 2px;
    width: 90%;

    background-color: light-dark(var(--challenge-card-icon-color), #ffffff66);
    transition: all 200ms ease-in-out;

    transform: translateY(-50%);

    [data-solved="true"] & {
        background-color: light-dark(
            var(--challenge-card-solved-icon-color),
            #ffffff66
        );
    }
}

.status {
    position: absolute;
    top: 82.5%;
    left: 7.25%;

    font-weight: 600;
    color: light-dark(var(--challenge-card-text-color), #ffffff);
    font-size: 0.85rem;

    user-select: none;

    transform: translateY(-50%);

    [data-solved="true"] & {
        color: light-dark(var(--challenge-card-solved-text-color), #ffffff);
    }
}
