@use "@/styles/mixins";

$bg-color: var(--bg-color);
$border-color: var(--border-color);
$text-color: var(--text-color);
$icon-color: var(--icon-color);

.root {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 22.5px;

    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.3));

    width: 80vw;

    @include mixins.media("lg") {
        width: 35rem;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 16px;
        border-radius: 22.5px;

        .navbar {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: $border-color;
            border-radius: 16px;
            border: 3.75px solid $border-color;
            padding: 12px;

            .category {
                flex: 1;
                font-size: 0.85rem;
                font-weight: bold;
                user-select: none;
            }

            .title {
                max-width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                flex-shrink: 0;
                font-size: 1.25rem;
                font-weight: 700;
                color: #ffffff;
            }

            .icon {
                display: flex;
                flex: 1;
                justify-content: end;

                width: 2rem;
                height: 2rem;

                color: #ffffff;
            }
        }

        .main {
            display: flex;

            width: 100%;
            min-height: 15rem;
            max-height: 25rem;

            background-color: var(--color-light);
            border-radius: 16px;
            border: 2.75px solid $border-color;

            @include mixins.dark {
                background-color: var(--color-dark);
            }

            .sidebar {
                border-right: 3px solid $border-color;
                padding: 16px 12px;
                border-radius: 10px 0 0 10px;
                background-color: $border-color;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .tab {
                    color: #ffffff;
                    cursor: pointer;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        filter: brightness(1.125);
                    }

                    &:active {
                        transform: translateY(2px);
                    }
                }

                .divider {
                    border-top: 1.5px dashed #ffffff;
                    width: 100%;
                    height: 1px;
                }
            }

            .content {
                width: 100%;
                padding: 16px;
                overflow: hidden;
                transition: all 150ms ease-in-out;
                position: relative;

                z-index: 1;

                overflow-y: auto;
                overflow-wrap: break-word;

                .watermark {
                    position: absolute;
                    top: 80%;
                    right: 10%;
                    transform: translate(10%, -80%);
                    font-size: 5rem;
                    color: $border-color;
                    opacity: 0.25;
                    user-select: none;
                    z-index: -1;
                }

                .description {
                    text-wrap: break-word;
                }

                .pod {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .tip {
                        display: flex;
                        justify-content: center;
                        font-size: 0.75rem;
                    }

                    .info {
                        flex: 1;
                    }

                    .controllers {
                        display: flex;
                        justify-content: center;
                        gap: 15px;
                    }
                }
            }
        }

        .submit {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}
