@use "@/styles/mixins";

$bg-color: var(--challenge-modal-bg-color);
$border-color: var(--challenge-modal-border-color);
$text-color: var(--challenge-modal-text-color);
$icon-color: var(--challenge-modal-icon-color);

.root {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22.5px;

    width: 80vw;

    @include mixins.responsive("lg") {
        width: 42.5rem;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.3));

    padding: 16px;
    border-radius: 22.5px;

    .submit {
        display: flex;
        width: 99%;
        align-items: center;
        gap: 15px;
        margin: 12px 0;
    }
}

.navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    background-color: $border-color;
    border-radius: 12px 12px 0 0;
    border: 2.75px solid $border-color;
    padding: 10px 20px;

    color: #ffffff;

    .info {
        width: 30%;
        display: flex;
        align-items: center;
        gap: 8px;

        .title {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 700;
        }

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .tabs {
        display: flex;
        gap: 8px;
        align-items: center;

        .tab {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            padding: 8px 14px;
            border-radius: 9999px;
            gap: 8px;

            &[data-active="true"],
            &:hover {
                filter: brightness(1.2);
                background-color: #1111113d;
            }

            &:active {
                transform: translateY(2px);
            }

            span {
                font-size: 0.8rem;
                text-wrap: nowrap;
            }
        }
    }
}

.main {
    display: flex;

    width: 100%;
    min-height: 20rem;
    max-height: 35rem;

    background-color: var(--bg-2-color);
    border-radius: 0 0 12px 12px;
    border: 2.75px solid $border-color;
    border-top: none;

    .content {
        width: 100%;
        padding: 16px;
        overflow: hidden;
        transition: all 150ms ease-in-out;
        position: relative;

        z-index: 1;

        overflow-y: auto;
        overflow-wrap: break-word;

        .description {
            text-wrap: break-word;
        }

        .pod {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .tip {
                display: flex;
                justify-content: center;
                font-size: 0.75rem;
            }

            .info {
                flex: 1;
            }

            .controllers {
                display: flex;
                justify-content: center;
                gap: 15px;
            }
        }
    }
}
