@use "@/styles/mixins";

.root {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2.5px);
    background-color: #1111115d;

    &.enter {
        opacity: 0;
    }

    &.enter-active {
        opacity: 1;
        transition: opacity 150ms ease-in;
    }

    &.exit {
        opacity: 1;
    }

    &.exit-active {
        opacity: 0;
        transition: opacity 150ms ease-out;
    }
}
