@use "@/styles/mixins";

.root {
    position: relative;
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--image-radius);
    overflow: hidden;
    background-color: light-dark(#0000001d, #ffffff0d);
    transition: all 0.2s ease-in-out;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
