@use "@/styles/mixins";

.root {
    position: relative;
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--image-radius);
    overflow: hidden;
    background-color: light-dark(#cbcbcb, #2a3539);
    transition: all 0.2s ease-in-out;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;

    &[data-error="true"] {
        display: none;
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    backdrop-filter: blur(5px);

    &.exit {
        opacity: 1;
    }

    &.exit-active {
        opacity: 0;
        transition: opacity 150ms ease-out;
    }
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
