@use "@/styles/typography";
@use "@/styles/mixins";

$bg-color: var(--btn-bg-color);
$bg-secondary-color: var(--btn-bg-secondary-color);
$text-color: var(--btn-text-color);

.root {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: transparent;
    border-radius: 12px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    @include mixins.transition;

    cursor: pointer;

    &:hover {
        filter: brightness(1.125);
    }

    &:active {
        color: transparent !important;
        transform: translateY(4px);
    }

    &.solid {
        background-color: $bg-color;
        color: $bg-secondary-color;
        box-shadow: 0 3px 0;
    }

    &.outline {
        background-color: transparent;
        color: $bg-color;
        border-color: $bg-color;
        box-shadow: 0 3px 0;
    }

    &.ghost {
        background-color: transparent;
        color: $bg-color;
    }

    &.sm {
        padding: 0.5rem 1rem;
        @include typography.text-sm;
    }

    &.md {
        padding: 0.5rem 1rem;
        @include typography.text-base;
    }

    &.lg {
        padding: 0.75rem 1.5rem;
        @include typography.text-lg;
    }

    &.loading {
        cursor: not-allowed;
        pointer-events: none;

        &::after {
            content: "";
            position: absolute;
            border: 2px solid var(--btn-text-color);
            border-top-color: transparent;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            animation: spin 1s linear infinite;
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .content {
        color: $text-color;
        font-size: 15px;
        font:
            700 12.5px din-ronud,
            sans-serif;
        letter-spacing: 0.8px;
    }
}
