@use "@/styles/mixins";

$bg-color: var(--bg-color);
$border-color: var(--border-color);

.root {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .label {
        display: inline-block;
        margin: 2px 5px;
        font-size: 0.9;
        font-weight: 500;
        line-height: 1;
        cursor: default;
    }

    .helper-text {
        margin: 2px 5px;
        font-size: 11px;
        line-height: 1.5;
    }

    .error-text {
        margin: 5px 5px;
        color: var(--color-error);
        font-size: 12px;
    }

    .container {
        width: fit-content;
        border-radius: 15px;
        background-color: transparent;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .wrapper {
        display: flex;
        align-items: center;
        position: relative;
        background-color: rgba(247, 247, 247, 0.5);
        border: 2px solid #e5e5e5;
        border-radius: 12px;
        padding: 8px 10px;
        box-shadow: 0 3px 0 #e5e5e5;
        gap: 5px;
        @include mixins.transition;

        @include mixins.dark {
            border-color: #37464f;
            background-color: rgba(32, 47, 54, 0.5);
            box-shadow: 0 3px 0 #37464f;
        }

        .icon {
            color: #e5e5e5;
            @include mixins.transition;

            @include mixins.dark {
                color: #37464f;
            }
        }

        &:hover {
            border-color: $border-color;
            box-shadow: 0 3px 0 $border-color;

            .icon {
                color: $border-color;
            }
        }

        &:focus-within {
            border-color: $border-color;
            box-shadow: 0 3px 0 $border-color;

            .icon {
                color: $border-color;
            }

            .clear-button {
                opacity: 0.5;
            }

            .toggle-button {
                opacity: 0.5;
            }
        }

        input {
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            caret-color: $border-color;
            font-size: 15px;
            line-height: 0.8;

            &:disabled {
                cursor: not-allowed;
            }
        }

        input[type="password"] {
            &::-webkit-textfield-decoration-container,
            &::-webkit-password-toggle-button,
            &::-ms-reveal,
            &::-ms-clear {
                display: none;
            }
        }

        .clear-button {
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            cursor: pointer;
            color: $border-color;

            &:hover {
                opacity: 1;
                color: $border-color;
            }
        }

        .toggle-button {
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            cursor: pointer;
            color: $border-color;

            &:hover {
                opacity: 1;
                color: $border-color;
            }
        }
    }
}
