@mixin dark {
    [data-theme="dark"] & {
        @content;
    }
}

@mixin transition {
    transition: all 0.15s ease-in-out;
}

@mixin grid-background($grid-color) {
    background-image: linear-gradient(
            to right,
            $grid-color 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, $grid-color 1px, transparent 1px);

    background-size: 20px 20px;

    @include dark {
        background-image: linear-gradient(
                to right,
                #ffffff0d 1px,
                transparent 1px
            ),
            linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);
    }
}

@mixin media($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width: 575px) {
            @content;
        }
    } @else if $breakpoint == "sm" {
        @media (min-width: 576px) {
            @content;
        }
    } @else if $breakpoint == "md" {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $breakpoint == "lg" {
        @media (min-width: 992px) {
            @content;
        }
    }
}
