:root {
    --color-red: #ff6b6b;
    --color-pink: #f06595;
    --color-grape: #cc5de8;
    --color-violet: #845ef7;
    --color-indigo: #5c7cfa;
    --color-blue: #339af0;
    --color-cyan: #22b8cf;
    --color-teal: #20c997;
    --color-green: #52c48a;
    --color-lime: #94d82d;
    --color-yellow: #fcc419;
    --color-orange: #ff922b;
    --color-dark: #131f24;
    --color-gray: #5e5e5e;
    --color-light: #f8f8f8;
    --color-primary: #0d47a1;
    --color-secondary: #eca758;
    --color-info: #0ea5e9;
    --color-success: #28a745;
    --color-warning: #fb923c;
    --color-error: #dc3545;

    --shadow-none: none;
    --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -1px rgb(0 0 0 / 0.06);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -2px rgb(0 0 0 / 0.05);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

:root[data-theme="light"] {
    color-scheme: light;
    --bg-color: var(--color-light);
    --bg-2nd-color: #f8f8f8;
    --text-color: var(--color-dark);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --bg-color: var(--color-dark);
    --bg-2nd-color: #1f2a2f;
    --text-color: var(--color-light);
}
