@use "mixins";
@import "theme";
@import "tailwind";

main {
    overflow: hidden;
    background-color: var(--bg-color);
    @include mixins.transition;

    // background-image: linear-gradient(
    //         to right,
    //         rgba(255, 255, 255, 0.02) 1px,
    //         transparent 1px
    //     ),
    //     linear-gradient(
    //         to bottom,
    //         rgba(255, 255, 255, 0.02) 1px,
    //         transparent 1px
    //     );

    // background-size: 20px 20px;
}
