.root {
    position: fixed;
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 9999;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;

    user-select: none;

    &[data-position="top"] {
        transform: translate(-50%, -100%);
        margin-bottom: var(--tooltip-offset, 8px);
    }

    &[data-position="bottom"] {
        transform: translate(-50%, 0%);
        margin-top: var(--tooltip-offset, 8px);
    }

    &[data-position="left"] {
        transform: translate(-100%, -50%);
        margin-right: var(--tooltip-offset, 8px);
    }

    &[data-position="right"] {
        transform: translate(0%, -50%);
        margin-left: var(--tooltip-offset, 8px);
    }

    &.enter {
        opacity: 0;
    }

    &.enter-active {
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    &.exit {
        opacity: 1;
    }

    &.exit-active {
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
}
