$offset: var(--tooltip-offset, 8px);

.root {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.content {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;

    user-select: none;

    &[data-position="top"] {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: $offset;
    }

    &[data-position="bottom"] {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: $offset;
    }

    &[data-position="left"] {
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        margin-right: $offset;
    }

    &[data-position="right"] {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        margin-left: $offset;
    }

    &.enter {
        opacity: 0;
    }

    &.enter-active {
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    &.exit {
        opacity: 1;
    }

    &.exit-active {
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
}
