@use "@/styles/mixins";

$bg-color: var(--bg-color);
$border-color: var(--border-color);
$border-secondary-color: var(--border-secondary-color);
$text-color: var(--text-color);
$icon-color: var(--icon-color);
$grid-color: var(--grid-color);

.root {
    width: fit-content;
    position: relative;

    .wrapper {
        position: relative;
        width: 17.5rem;
        height: 10rem;

        background-color: $bg-color;
        border-radius: 16px;
        border: 3.75px solid $border-color;
        box-shadow: 0 3px 0 $border-secondary-color;
        padding: 10px;

        transition: all 200ms ease-in-out;

        background-image: linear-gradient(
                to right,
                $grid-color 1px,
                transparent 1px
            ),
            linear-gradient(to bottom, $grid-color 1px, transparent 1px);

        background-size: 20px 20px;

        @include mixins.dark {
            background-image: linear-gradient(
                    to right,
                    #ffffff0d 1px,
                    transparent 1px
                ),
                linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);
        }

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }

        &:hover {
            filter: brightness(1.125);
            cursor: pointer;
        }
    }

    .star {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 1.5rem;
        height: 1.5rem;

        z-index: 1;

        filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.3));
    }

    .category {
        position: absolute;
        top: 15%;
        left: 20px;

        font-size: 0.85rem;
        font-weight: bold;
        user-select: none;
    }

    .icon {
        position: absolute;
        width: 7.75rem;
        height: 7.75rem;

        color: $icon-color;
        opacity: 0.5;
        transition: all 200ms ease-in-out;

        top: 50%;
        right: 10px;

        transform: translateY(-50%) translateX(0);
    }

    .title {
        position: absolute;
        top: 40%;
        left: 7%;

        font-size: 1.25rem;
        font-weight: bold;

        width: 85%;

        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        color: $text-color;
        transition: all 200ms ease-in-out;

        user-select: none;

        @include mixins.dark {
            color: #ffffff;
        }
    }

    .divider {
        position: absolute;
        top: 67.5%;

        height: 2px;
        width: 90%;

        background-color: $icon-color;
        transition: all 200ms ease-in-out;

        transform: translateY(-50%);
    }

    .status {
        position: absolute;
        top: 82.5%;
        left: 7.25%;

        font-weight: 600;
        color: $text-color;

        user-select: none;

        transform: translateY(-50%);
        transition: all 200ms ease;

        @include mixins.dark {
            color: #ffffff;
        }
    }

    &:hover {
        .icon {
            animation: pop 400ms ease-in-out forwards;
        }

        @keyframes pop {
            0% {
                transform: translateY(-50%) scale(1);
            }
            50% {
                transform: translateY(-50%) scale(1.075);
            }
            100% {
                transform: translateY(-50%) scale(1);
            }
        }
    }
}
