$bg-color: var(--bg-color);
$border-color: var(--border-color);
$text-color: var(--text-color);
$grid-color: var(--grid-color);

.root {
    position: relative;
    width: 17.5rem;
    height: 10rem;

    background-color: $bg-color;
    border-radius: 16px;
    border: 3.75px solid $border-color;
    box-shadow: 0 3px 0 $border-color;
    padding: 10px;

    transition: all 200ms ease-in-out;

    background-image: linear-gradient(
            to right,
            $grid-color 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, $grid-color 1px, transparent 1px);

    background-size: 20px 20px;

    .star {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 1.5rem;
        height: 1.5rem;

        z-index: 1;

        filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.3));
    }

    .category {
        position: absolute;
        top: 20px;
        left: 20px;

        font-size: 0.85rem;
        font-weight: bold;
        user-select: none;
    }

    .icon {
        position: absolute;
        width: 10rem;
        height: 10rem;

        color: $border-color;
        opacity: 0.5;
        transition: all 200ms ease-in-out;

        top: 0;
        right: 0;
    }

    .title {
        position: absolute;
        top: 35%;
        left: 7%;

        font-size: 1.25rem;
        font-weight: bold;

        width: 85%;

        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        color: $text-color;
        transition: all 200ms ease-in-out;

        user-select: none;
    }

    .divider {
        position: absolute;
        top: 60%;

        height: 2px;
        width: 90%;

        background-color: $border-color;
        transition: all 200ms ease-in-out;
    }
}
