.root {
    & :where(a) {
        color: var(--color-primary);

        &:hover {
            filter: brightness(1.2);
            text-decoration: underline;
        }
    }

    & :where(h1) {
        font-size: 2.5rem;
    }

    & :where(h2) {
        font-size: 2rem;
    }

    & :where(h3) {
        font-size: 1.75rem;
    }

    & :where(h4) {
        font-size: 1.5rem;
    }

    & :where(h5) {
        font-size: 1.25rem;
    }

    & :where(h6) {
        font-size: 1rem;
    }
}
