@use "@/styles/mixins";

$width: var(--input-width);
$height: var(--input-height);
$bg-color: var(--input-bg-color);
$border-color: var(--input-border-color);

.root {
    width: $width;
    height: $height;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 15px;

    &[data-full-width="true"] {
        width: 100%;
    }
}

.info {
    display: flex;
    align-items: end;
    width: fit-content;
    margin: 5px 5px;
    gap: 5px;
}

.label {
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    cursor: default;
}

.helper-text {
    font-size: 0.7em;
    color: var(--color-gray);
}

.error-text {
    margin: 5px 5px;
    color: var(--color-error);
    font-size: 12px;
}

.wrapper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    position: relative;
    border: 2.75px solid $border-color;
    border-radius: 12px;
    padding: 6.75px 12px;
    transition: all 0.2s ease-in-out;

    &[data-variant="solid"] {
        background-color: $bg-color;
    }

    &[data-variant="outlined"] {
        background-color: var(--bg-2nd-color);
    }

    &:focus,
    &:hover {
        filter: brightness(1.2);
    }
}
