@use "@/styles/mixins";

.root {
    display: flex;
    gap: 8px;

    &[data-variant="solid"] {
        .icon {
            color: #ffffff;
        }
    }

    &[data-variant="outlined"] {
        .icon {
            color: light-dark(var(--input-border-color), #ffffff);
        }
    }
}

.input {
    caret-color: transparent;
    outline: none;
    background: none;
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
        margin: 0;
    }
}
