.root {
    display: flex;
    gap: 8px;

    .date {
        display: flex;
        gap: 2px;
    }

    .time {
        display: flex;
        gap: 2px;
    }

    input {
        width: 2ch;
        outline: none;
        background: none;

        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &.year {
            width: 4ch;
        }
    }
}
