$bg-color: var(--bg-color);
$border-color: var(--border-color);

.root {
    display: flex;
    gap: 8px;

    &[data-variant="solid"] {
        .icon {
            color: #ffffff;
        }
    }

    &[data-variant="outlined"] {
        .icon {
            color: $border-color;
        }
    }

    .date {
        display: flex;
        gap: 2px;
    }

    .time {
        display: flex;
        gap: 2px;
    }

    input {
        width: 2ch;
        outline: none;
        background: none;

        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &.year {
            width: 4ch;
        }
    }
}
