@use "@/styles/mixins";

$bg-color: var(--toast-bg-color);
$border-color: var(--toast-border-color);

.root {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $bg-color;
    border: 2.75px solid $border-color;
    border-radius: 16px;
    padding: 10px 20px;
    min-width: 20vw;
    position: relative;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border-radius: 50%;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
}

.description {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #ffffff;
}
