.root {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--bg-2nd-color);
    border: 2.75px solid var(--toast-border-color);
    border-radius: 16px;
    padding: 10px 20px;
    min-width: 20vw;
    position: relative;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: light-dark(var(--toast-text-color), #ffffff);
    border-radius: 50%;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;
    color: light-dark(var(--toast-text-color), #ffffff);
}

.description {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: light-dark(var(--toast-text-color), #ffffff);
}
