@use "@/styles/typography";
@use "@/styles/mixins";

$bg-color: var(--bg-color);
$border-color: var(--border-color);

.root {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $bg-color;
    border: 2.75px solid $border-color;
    border-radius: 16px;
    padding: 10px 15px;
    min-width: 20vw;
    position: relative;

    background-image: linear-gradient(to right, #ffffff0d 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);

    background-size: 20px 20px;

    .icon {
        width: 2.5rem;
        height: 2.5rem;
        color: #ffffff;
    }

    .content-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 4px;
    }

    .title {
        @include typography.text-lg;
        color: #ffffff;
    }

    .description {
        @include typography.text-base;
        color: #ffffff;
    }
}
