@use "@/styles/mixins";

.root {
    display: flex;
    width: fit-content;
    gap: 12px;
}

.switch {
    position: relative;
    width: 45px;
    height: 24px;
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid var(--switch-unchecked-bg-color);
    background-color: var(--switch-unchecked-bg-color);

    &:hover {
        filter: brightness(1.2);
    }

    &[data-checked="true"] {
        border: 2px solid var(--switch-bg-color);
        background-color: var(--switch-bg-color);

        .handle {
            transform: translateY(-50%) translateX(20px);
        }
    }
}

.handle {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    top: 50%;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
    transform: translateY(-50%);
}

.label {
    font-size: 16px;
    user-select: none;
}
